.job_title {
    display: flex;
    width: 90%;
    margin: 0 0 60px;
    max-width: 520px;
}

.single_job{
    margin: 40px 0;
    margin-left: 40px;
    width: 300px;
    color: #C5C5C5;
}
.single_job a{
    text-decoration: none;
}
.companyName{
    color: #C5C5C5;
    font-family: manrope;
    font-size: 18px;
    font-weight: bold;
}

.single_job_title{
    font-family: manrope;
    margin: 0 0 10px;
    font-size: 24px;
    color: white;
}

.job_info{
    width: 90%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around;
    justify-content: space-between; */
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.job_title span{
    font-family: Starjedi;
}
.single_job:hover .single_job_title{
    color: #FF4700;
}
.single_job:hover .companyName{
    color: #19B1FF;
}
