.job_title {
    margin: 60px 0;
    font-size: 38px;
    letter-spacing: 4px;
}

.single_job{
    margin: 20px 0;
    width: 300px;
    color: #C5C5C5;
}
.single_job a{
    text-decoration: none;    
}
.companyName{
    color: #C5C5C5;
}

.single_job_title{
    margin: 15px 0;
    font-size: 22px;
    color: white;
}

.job_info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.job_title span{
    font-family: Starjedi; 
}
.single_job:hover .single_job_title{
    color: #FF4700;
}
.single_job:hover .companyName{
    color: #19B1FF;
}
