.faq_info {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
    font-weight: 600;
}

.faq_title {
    margin: 0 0 57px;
    width: 487px;
}
.faq_title span{
    font-family: Starjedi;
}

.single_faq{
    margin: 10px 0;
    width: 510px;
    color: #C5C5C5;
}

.single_faq_title{
    margin: 10px 0;
    font-size: 24px;
    color: white;
    font-weight: 600;
}
.single_faq_text{
    font-size: 17px;
    width: 84%;
    line-height: 1.88;
}

.faq-link {
    color: #19b1ff;
    text-decoration: none;
}

@media screen and (max-width: 425px) {
  .faq_title {
    width: 90%;
  }
}
