.jedies-heading {
    text-align: center;
    font-size: 40px;
    margin-bottom: 80px;
}

.jedies-section-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 120px;
}

.jedi-image {
    display: inline-block;
    width: 270px;
    height: 270px;
    margin-right: 30px;
}

.jedi-image img {
    line-height: 0;
    width: 100%;
    height: 100%;
}

.jedi-person {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 60px;
}

.jedi-section-content {
    display: inline-block;
    width: 50%;
}

.jedi-section-content .header {
    display: flex;
    justify-content: right;
    width: 270px;
    height: 88px;
    font-family: Manrope;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.jedi-section-content .content {
    width: 270px;
    height: 72px;
    font-family: Manrope;
    font-size: 15px;
    font-weight: 400;
    color: #c5c5c5;
    margin-bottom: 30px;
}

.jedi-section-content .social-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.jedi-section-social {
    cursor: pointer;
    margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .jedies-section-wrapper {
    flex-wrap: wrap;
  }

  .jedi-person {
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .jedi-image {
    width: 30vw;
    height: 30vw;
    margin-right: 0;
  }

  .jedi-section-content {
    width: 80%;
  }

  .jedi-section-content > .header,
  .jedi-section-content > .content {
    text-align: center;
    width: 100%;
  }

  .jedi-section-content > .social-buttons {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 425px) {
  .jedies-section-wrapper {
    flex-direction: column;
  }

  .jedi-person {
    width: 100%;
  }
}