.galaxy_title{
    display: flex;
    width: 90%;
    max-width: 908px;
    margin-bottom: 120px;
    font-size: 38px;
    letter-spacing: 4px;
    object-fit: contain;
}
.galaxy_map {
    width: 90%;
    /* height: 90%; */
    height: 640px;
    margin-bottom: 120px;
}
@media screen and (max-width : 600px) {
    .galaxy_map {
        padding-top: 56.25%;
        margin-top: -56.25%;
    }
    .galaxy_title{
        margin-bottom: 60px;
    }
}

.galaxy_title span{
    font-family: Starjedi;
}
