.companies-wrapper  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin-bottom: 120px;
}

.companies-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 64px;
    margin-bottom: 50px; */
    margin: 0 0 60px;
    width: 90%;
    max-width: 700px;
    /* height: 45px; */
}

.company-block {
    padding: 24px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 60px;
}

@media screen and (max-width: 700px) {
    .company-block {
        flex-direction: column;
        align-items: center
    }
}

.company-block:last-child {
    margin-bottom: 0;
}

.company-title {
    width: 90%;
    max-width: 118px;
    height: 68px;
    padding-top: 10px;
    margin-bottom: 30px;
    font-family: Manrope;
    font-size: 24px;
    font-weight: bold;
    color: #c5c5c5;
    align-self: flex-start;
    margin-left: 20px;
    line-height: 35px;
}

.company-logos {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.general-logo {
    width: 600px;
    height: auto;
    line-height: 0;
}

.gold-logo {
    width: 90%;
    max-width: 400px;
    object-fit: contain;
    /* height: auto; */
    line-height: 0;
    /* margin-left: 60px; */
    margin-bottom: 45px;
}

.gold-logo:nth-child(odd) {
    /* margin-left: 0; */
}

.silver-logo {
    width: 270px;
    height: auto;
    line-height: 0;
    margin-left: 25px;
    margin-bottom: 47px;
}

.silver-logo:nth-child(3n+1) {
    margin-left: 0;
}

.starter-company.company-block {
    align-items: center;
}

.starter-logo {
    height: 62px;
    line-height: 0;
    width: auto;
}

.partners.company-block {
    align-items: center;
}

.partner-logo {
    height: 62px;
    line-height: 0;
    width: auto;
}

.partner-logo:first-child {
    margin-right: 30px  ;
}
