.header {
    width: 100%;
    display: flex;
    justify-content: right;
}
.header_logo {
    display: flex;
    flex-grow: 1;
    padding-top: 8px;
    padding-left: 50px;
    align-items: flex-start;
}
.header_items {
    display: flex;
    /* width: 750px; */
    width: 60%;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}

.header_items a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: fle;
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: manrope;
    text-decoration: none;
    margin: 5px;
}

.header_button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    background: black;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    max-width: 151px;
}
.header_conduct {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    max-width: 151px;
}

@media screen and (max-width : 600px) {
    .header_items {
        flex-direction: column;
    }
}
