.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}

.header_button{
    border: 1px solid red;
    background: black;
    height: 32px;
    width: 151px;
}

@media screen and (max-width: 425px) {
  .header img {
    width: 60vw;
  }
}
