.rotated_text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 320px;
    margin-bottom: 120px;
}

.rotated_text img {
    display: flex;
    width: 70%;
    height: 100%;
    max-width: 762px;
    max-height: 320px;
    line-height: 0;
    object-fit: contain;
}
