.rotateted_text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 320px;
    margin-bottom: 120px;
}

.rotateted_text img {
    display: block;
    width: 762px;
    height: 320px;
    line-height: 0;
}

@media screen and (max-width: 768px) {
  .rotateted_text {
    height: auto;
  }

  .rotateted_text img {
    width: 95%;
    height: auto;
  }
}