.section_container{
    display: flex;
    width: 100%;
    height: 400px;
    margin-bottom: 119px;
}

.section_container:last-child {
    margin-bottom: 120px;
}

.imagePart{
    flex: 50%;
    background-repeat: no-repeat;
}

.textPart{
    flex: 50%;
}

.callForJedies {
    width: 383px;
    height: 42px;
    margin-bottom: 63px;
}

.callForJedies.sponsors {
    width: 500px;
    height: 33px;
}

.callForJedies.droid {
    width: 406px;
    height: 31px;
}

.textPart button {
    margin-top: 0;
    cursor: pointer;
    width: 164px;
    height: 48px;
    font-family: manrope;
    font-size: 16px;
}

.textPart span{
    font-family: Starjedi;
}
.textPart h1{
    font-family: starJediHollow;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 4px;
    margin-bottom: 63px;
}
.textPart p{
    font-family: manrope;
    font-weight: normal;
    font-size: 22px;
    margin: 0 auto;
    text-align: center;
    width: 570px;
    margin-bottom: 63px;
    color: #c5c5c5;
}

