.footer_image {
    display: flex;
    width: 100%;
    height: 100%;
    /* height: 600px;
    width: 100%; */
}

.footer_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-size: cover;
}
.logo2{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.logo2 a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo2 a img {
    display: flex;
    width: 90%;
    max-width: 600px;
    /* height: 81px; */
    object-fit: contain;
    align-self: center;
}

.footer{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    line-height: 40px;
}

.press-realise {
    font-size: 24px;
    font-weight: 500;
    font-family: manrope;
}

.design-and-branding {
    width: 100%;
    text-align: center;
    font-family: manrope;
    font-size: 20px;
    font-weight: 500;
}

.social-icon{
    width:54px;
    height:40px;
    background-repeat: no-repeat;
    background-position:center;
    margin:7px;
}

.social_items{
    display: flex;
    align-items: center;
    margin: 25px;
    justify-content: space-between;
}

.githubwhite{
    background-image:url('../../images/githubwhite.png');
}

.githubwhite:hover{
    background-image:url('../../images/githuborg.png');
}
.fbWhite{
    background-image:url('../../images/fbwhite.png')
}
.fbWhite:hover{
    background-image:url('../../images/fbred.png')
}
.twWhite{
    background-image:url('../../images/twitwhite.png')
}
.twWhite:hover{
    background-image:url('../../images/twetred.png')
}
.instwhite{
    background-image:url('../../images/instwhite.png')
}
.instwhite:hover{
    background-image:url('../../images/instred.png')
}
.youtubeRed{
    background-image:url('../../images/youtubewhite.png')
}
.youtubeRed:hover{
    background-image:url('../../images/youtubered.png')
}
.langArm, .langEnglish, .orange{
    color:#FF4700;
    text-decoration: none;
}
.langArm, .langEnglish{
    text-decoration: none;
}
