@font-face {
    font-family: manrope;
    src: url(./components/Fonts/manrope/regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: manrope;
    src: url(./components/Fonts/manrope/bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: manrope-light;
    src: url(./components/Fonts/manrope/light.otf);
}

@font-face {
    font-family: Starjedi;
    src: url(./components/Fonts/star_jedi/starjedi/Starjedi.ttf);
}

@font-face {
    font-family: STJEDISE;
    src: url(./components/Fonts/star_jedi/stjedise/STJEDISE.TTF);
}

@font-face {
    font-family: starJediHollow;
    src: url(./components/Fonts/star_jedi/starjedi/Starjhol.ttf);
}

h1 {
    font-family: jedies;
}

.textPart {
    flex: 50%;
    text-align: center;
}

button {
    border: none;
    border: 1px solid red;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px 17px;
    color: #fff;
    margin-top: 25px;
}
